<a href="https://colab.research.google.com/github/jeffheaton/present/blob/master/WUSTL/CABI-Demand/lab_1_eda_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Washington University [Olin School of Business](https://olin.wustl.edu/EN-US/Pages/default.aspx)
[Center for Analytics and Business Insights](https://olin.wustl.edu/EN-US/Faculty-Research/research-centers/center-analytics-business-insights/Pages/default.aspx) (CABI)  
[Deep Learning for Demand Forecasting](https://github.com/jeffheaton/present/tree/master/WUSTL/CABI-Demand)  
Copyright 2022 by [Jeff Heaton](https://www.youtube.com/c/HeatonResearch), Released under [CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) 

# Lab 1: EDA

Attempt to determine one or more of the following from the data.

* Are the same items offered at multiple resturants? Does each resturant have its own unique set of items?
* Were there any new product launches, items that were not offered from the beginning? 
* Were any products discontinued during the 3-years worth of data.

You can use the following starter code. 
Connect GDrive, to write out any results.

In [1]:
try:
    from google.colab import drive
    drive.mount('/content/drive', force_remount=True)
    COLAB = True
    print("Note: using Google CoLab")
except:
    print("Note: not using Google CoLab")
    COLAB = False

Mounted at /content/drive
Note: using Google CoLab

Read the provided tabular data CSVs.

In [2]:
import pandas as pd
import os

df_sales = pd.read_csv("https://data.heatonresearch.com/wustl/CABI/demand-forecast/sales_train.csv")
df_items = pd.read_csv("https://data.heatonresearch.com/wustl/CABI/demand-forecast/items.csv")
df_resturant = pd.read_csv("https://data.heatonresearch.com/wustl/CABI/demand-forecast/resturants.csv")

df_sales.date = pd.to_datetime(df_sales.date, errors='coerce')

In [3]:
# Is any one item id assigned to more than one store id.
len(df_items.id.unique()) != len(df_items)

False

In [4]:
# When was each item launched
df2 = df_sales[df_sales.item_count>0]
df2 = df2[['item_id','date']].groupby('item_id',as_index=False).min().sort_values(['date'],ascending=False)

In [7]:
df2[1:15]

    item_id       date
17       18 2021-10-12
44       47 2021-08-12
6         7 2021-03-14
54       57 2020-12-04
37       38 2020-08-02
8         9 2020-07-01
30       31 2020-06-13
36       37 2020-06-13
77       82 2020-04-22
50       53 2020-04-03
0         1 2020-01-23
1         2 2019-10-20
52       55 2019-08-23
43       46 2019-08-03

In [10]:
# When was each item stopped
df2 = df_sales[df_sales.item_count>0]
df2 = df2[['item_id','date']].groupby('item_id',as_index=False).max().sort_values(['date'],ascending=True)
df2[1:15]

    item_id       date
40       43 2020-01-08
0         1 2020-01-23
19       20 2020-04-14
15       16 2020-06-12
50       53 2020-11-10
54       57 2021-01-02
6         7 2021-03-14
38       41 2021-03-25
9        10 2021-05-15
1         2 2021-05-17
70       74 2021-06-02
29       30 2021-07-04
44       47 2021-08-12
31       32 2021-08-16